@{
    ViewBag.Title = "My Trick App";
}

<div class="jumbotron">
    <h1>Skateboarding Tricks Counter</h1>
    <p class="lead">Get started counting and logging your tricks now!</p>
    <p><a href="Skateboardings/" class="btn btn-primary btn-lg">Start</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trick Names </h2>
        <p>You can add different types of tricks you'd like to learn or just log tricks you already know below!</p>
        <p><a class="btn btn-default" href="TrickTypes/">Add Tricks</a></p>
    </div>








    <form class="form-horizontal">
        <fieldset>
            <legend>Log in</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>

            </div>
        </fieldset>
    </form>
    
    <!------------------- <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div> &raquo;  --------------->
</div>